.content-projects{
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    overflow-y: scroll;
}

.content-img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    justify-self: center;
}

.content-img img {
    width: 100%;
    height: 100%;
}

/* RESPONSIVE */

/* small device */
@media screen and (max-width: 390px) {
    .content-projects{
        width: 100%;
        height: 340px;
        grid-template-columns: 1fr;
    }

    .content-img{
        width: 200px;
        height: 150px;
        margin-top: 1rem;
        border-radius: 10px;
        overflow: hidden;
        justify-self: center;
    }
  }
  
  /* medium device */
  @media (min-width: 390px) and (max-width: 767px) {
    .content-projects{
        width: 100%;
        height: 500px;
        grid-template-columns: 1fr;
    }

    .content-img{
        width: 350px;
        height: 200px;
        margin-top: 1rem;
        border-radius: 10px;
        overflow: hidden;
        justify-self: center;
    }
  }

  /* large device */
@media screen and (min-width: 1024px) {
    .content-projects::-webkit-scrollbar{
        display: none;
    }
}